<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.2.xsd">
    <!--<import resource="/jdbcconfig.xml" />-->
    <context:component-scan base-package="cn.wantedonline.puppy" />
    <!-- http://doc.itstrike.cn/Home/Article/Extension-Spring-use-the-Annotation-will-be-injected-into-the-Bean-in-the-allocation-of-resources -->
    <bean id="propertyConfigurer" class="cn.wantedonline.puppy.spring.ExtendedPropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>/serverconfig.properties</value>
                <value>/druidconf.properties</value>
            </list>
        </property>
    </bean>

</beans>
