<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~  Copyright [2016-2026] wangcheng(wantedonline@outlook.com)
  ~
  ~   Licensed under the Apache License, Version 2.0 (the "License");
  ~   you may not use this file except in compliance with the License.
  ~   You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~   Unless required by applicable law or agreed to in writing, software
  ~   distributed under the License is distributed on an "AS IS" BASIS,
  ~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~   See the License for the specific language governing permissions and
  ~   limitations under the License.
  -->
<configuration scan="true" scanPeriod="90 seconds">
    <property name="smtpHost" value="smtp.163.com" />
    <property name="smtpPort" value="25" />
    <property name="username" value="wangchengjack@163.com" />
    <property name="password" value="xxx" />
    <property name="email_to" value="wangchengjack@qq.com" />
    <property name="send_email_from" value="Puppy服务器" />
    <property name="email_subject" value="[Puppy Exception]: %logger{20} - %m" />
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n
            </pattern>
        </layout>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logFile.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                logFile.%d{yyyy-MM-dd}.log.zip
            </FileNamePattern>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss,SSS} [%thread] %-5level %logger{32} - %msg%n
            </Pattern>
        </layout>
    </appender>
<!--
    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost>${smtpHost}</smtpHost>
        <smtpPort>${smtpPort}</smtpPort>
        <SSL>false</SSL>
        <username>${username}</username>
        <password>${password}</password>
        <to>${email_to}</to>
        <from>${send_email_from}</from>
        <subject>${email_subject}</subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date %-5level %logger{35} - %message%n</pattern>
        </layout>
    </appender>
-->
    <root>
        <level value="DEBUG"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <!--
        <appender-ref ref="EMAIL" />
        -->
    </root>
</configuration>
